<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.org.thymeleaf.org">
<div th:replace="blog/header::header"></div>
<body>
    <section class="vh-100" style="background-color: #eee;">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                    <div class="card text-black">
                        <div class="card-body p-md-3">
                            <div class="row justify-content-center">
                                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                    <p class="text-center h1 fw-bold mb-3 mx-1 mx-md-4 mt-2">Sign up</p>

                                    <form class="mx-1 mx-md-4" method="post" th:action="@{/register/save}" th:object="${user}">

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <input
                                                        type="text"
                                                        id="name"
                                                        class="form-control"
                                                        th:field="${user.name}" />
                                                <label class="form-label" for="name">Your Name</label>
                                                <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="${user.name}"></p>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <input type="email" id="email" class="form-control" th:field="${user.email}" />
                                                <label class="form-label" for="email">Your Email</label>
                                                <p th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="${user.email}"></p>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <input type="password" id="password" class="form-control" th:field="${user.password}" />
                                                <label class="form-label" for="password">Password</label>
                                                <p th:if="${#fields.hasErrors('password')}" class="text-danger" th:errors="${user.password}"></p>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <input type="password" id="retype_password" class="form-control" th:field="${user.retypePassword}" />
                                                <label class="form-label" for="retype_password">Repeat your password</label>
                                                <p th:if="${#fields.hasErrors('retypePassword')}" class="text-danger" th:errors="${user.retypePassword}"></p>
                                            </div>
                                        </div>

                                        <div class="form-check d-flex justify-content-center mb-5">
                                            <input class="form-check-input me-2" type="checkbox" value="" id="agree" />
                                            <label class="form-check-label" for="agree">
                                                I agree all statements in <a href="#">Terms of service</a>
                                            </label>
                                        </div>

                                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                            <button type="submit" class="btn btn-primary btn-lg">Register</button>
                                        </div>

                                    </form>

                                </div>
                                <div th:unless="${param.success}" class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                         class="img-fluid" alt="Sample image">
                                </div>
                                <div th:if="${param.success}" class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                    <img src="https://ar-pay.com/userfiles/media/production/6-en-register-ar-pay-faq_2.jpg"
                                         class="img-fluid" alt="Sample image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>