<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.org.thymeleaf.org">
<div th:replace="admin/header::header"></div>
<body>
<br/><br/>
<div class="container">
  <div class="row col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">
        <h2 class="text-center">Edit Post</h2>
      </div>
      <div class="card-body">
        <form role="form" method="post" th:object="${post}" th:action="@{/admin/posts/{postId}(postId=${post.id})}">
          <input type="hidden" th:field="${post.id}">
          <input type="hidden" th:field="${post.url}">
          <input type="hidden" th:field="${post.createdOn}">
          <div class="mb-3">
            <label class="form-label">Title</label>
            <input
                    type="text"
                    class="form-control"
                    id="title"
                    placeholder="Enter your post title"
                    name="title"
                    th:field="${post.title}"
            />
            <p th:if="${#fields.hasErrors('title')}" class="text-danger" th:errors="${post.title}"></p>
          </div>
          <div class="mb-3">
            <label class="form-label">Short Description</label>
            <textarea
                    class="form-control"
                    id="shortDescription"
                    placeholder="Enter your post short description"
                    name="shortDescription"
                    rows="3"
                    th:field="${post.shortDescription}"
            />
            <p th:if="${#fields.hasErrors('shortDescription')}" class="text-danger" th:errors="${post.shortDescription}"></p>
          </div>
          <div class="mb-3">
            <label class="form-label">Content</label>
            <textarea
                    class="form-control"
                    id="content"
                    placeholder="Enter your post content"
                    name="content"
                    rows="9"
                    th:field="${post.content}"
            />
            <p th:if="${#fields.hasErrors('content')}" class="text-danger" th:errors="${post.content}"></p>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<br/>
<div th:replace="admin/footer::footer"></div>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
        crossorigin="anonymous">
</script>
<script src="https://cdn.ckeditor.com/ckeditor5/35.2.1/classic/ckeditor.js"></script>
<script>
  ClassicEditor
          .create( document.querySelector( '#content' ) )
          .then( editor => {
            console.log( editor );
          } )
          .catch( error => {
            console.error( error );
          } );
</script>

</body>
</html>