<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.org.thymeleaf.org">
<div th:replace="blog/header::header"></div>
<body>
  <br/>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div th:each="post:${posts}">
          <div class="card">
            <div class="card-header">
              <h3 class="col-md-8">
                <a
                        th:href="@{/post/{postUrl}(postUrl=${post.url})}"
                        th:text="${post.title}"
                ></a>
              </h3>
                <span class="d-flex flex-row-reverse">
                  <strong th:text="${#temporals.format(post.createdOn,'dd MMMM yyyy')}">
                  </strong>
                </span>
            </div>
            <div class="card-body">
              <p th:utext="${post.shortDescription}"></p>
              <a th:href="@{/post/{postUrl}(postUrl=${post.url})}">Read more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div th:include="blog/search::search"></div>
      </div>
    </div>
  </div>
  <br/>
  <div th:replace="blog/footer::footer"></div>
</body>
</html>